
<head>
	<title>6° of Seperation</title>
	<link rel="stylesheet" type="text/css" href="home.css">
</head>
<body>

	<div id="logo">
		<img src="/images/logo1.png">	
	</div>
	<br>
	<br>
	<br>
	<div id="actor-form">
		<form name="main" method="get">
			Actor 1: <input type="text" name="actor1" placeholder="Kevin Bacon"/>
			Actor 2: <input type="text" name="actor2" placeholder="John Travolta" />
			<button>Submit</button>
		</form>
	</div>
	<br>
	<br>
	<div class="all-degrees">
		<div class="degree-of-sep">
			<br>
			<br>
			<br>
		</div>
		<br>
		<br>
		<div class="degree-of-sep">				
				<% @connect.each do |link| %>
			<div id="star2" class="star">
				<h1><%= link[0] %></h1>
				<img src=" <%="https://image.tmdb.org/t/p/original"+link[2]  %>" /id="actor_poster">
			</div>	
			<div>
				<p id = "wasin" >WAS IN</p>
			</div>
			<div class="movie-right">
				<div id="movie-img1" class="movie"> 
					<img  src="<%="https://image.tmdb.org/t/p/original"+link[3] %>" /id= "movie_poster">
					<h2><%= link[1] %></h2>
				</div>
				<p id="with">WITH</p>
				<% end %>
			</div>
			<div id="star1" class="star">
				<h1><%= @actor1 %></h1>
				<img src="<% "https://image.tmdb.org/t/p/original"+"/#{@A1}" %>">
				<h1><%= "https://image.tmdb.org/t/p/original"+"/#{@A1}" %></h1>
			</div>
		</div>
	</div>
</body>